<p> About </p>

<p>
  StickerCrate partners with leading cartoon artists to bring you a subscription box of stickers every month.
  Each month, we feature different artists and bring their art to life and give our customers unique, exclusive stickers that look awesome!

</p>
