<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="google-site-verification" content="ADqtTdBafVcqSD2vQdzzhoRludsrdlegox-Wj7Caz-o" />
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <title>StickerCrate</title>
  </head>
    <body>
    <div class="flex-container">
      <div class="box">

        <div class="title" id="title">
          <h2>StickerCrate</h2>
        </div>

        <div class="flex-item" id="text">
          <p>StickerCrate is a sticker subscription service coming to you soon.</p>
          <p> If you are interested in finding out more, register your interest below!</p>
        </div>

        <form class="form-box" action='/', method='POST'>
          <div class="flex-item" id="name-input">
            <input type="text" name="name" placeholder="Enter Your Name">
          </div>
          <div class="flex-item" id="email-input">
            <input type="text" name="email" placeholder="Enter Your Email">
          </div>
          <div class="flex-item" id="btn-submit">
            <input type='submit' value='Keep Me Updated'>
          </div>
        </form>
        <div class="flex-item" id="text">
        <% if (req.method == 'POST') { %>
           <p> Thanks for registering! </p>
          <% } %>
        </div>
      </div>
    </div>

      <div class="about-text" id="text">
        <h2> Who are we? </h3>
        <p>
          StickerCrate partners with leading cartoon artists to bring you a subscription box of stickers every month.
          Each month, we feature different artists and bring their art to life and give our customers unique, exclusive stickers that look awesome!
        </p>
      </div>
      <div class="footer">
        This is what goes in the footer
        <section id="lab_social_icon_footer">
<!-- Include Font Awesome Stylesheet in Header -->
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="container">
        <div class="text-center center-block">
              <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
	            <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
	            <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
	            <a href="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
            </div>
          </div>
        </section>
      </div>
  </body>
</html>
