<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <title>StickIT</title>
  </head>
  <body>
    <div class="flex-container">
      <div class="box">

        <div class="flex-item" id="title">
          <h2>StickIT</h2>
        </div>

        <div class="flex-item" id="text">
          <p>StickIt is a sticker subscription service coming to you soon.</p>
          <p> If you are interested in finding out more when we launch, register your interest below!</p>
        </div>

        <form class="form-box" action='/', method='POST'>
          <div class="flex-item" id="name-input">
            <input type="text" name="name" placeholder="Name">
          </div>
          <div class="flex-item" id="email-input">
            <input type="text" name="email" placeholder="Email">
          </div>
          <div class="flex-item" id="btn-submit">
            <input type='submit' value='Register Interest!'>
          </div>
        </form>
        <div class="flex-item" id="text">
        <% if (req.method == 'POST') { %>
           <p> Thanks for registering! </p>
          <% } %>
        </div>
      </div>
    </div>

  </body>
</html>
