html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  color: white;
  background-image: url("/images/sticker-bomb-laptop-pc.jpg");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
}

html, body {
    height: 100%;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box {
    width: auto;
    border-radius: 5px;
    /* background-color: #F6F6F6; */
    background-color: transparent;
    padding: 20px;
    margin: 100px;
}
.flex-item {
    margin: auto;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
}

.about-text {
  margin: auto;
  border-radius: 5px;
  background-color: transparent;
  padding: 20px;
  margin: 50px;
  text-align: center;
  font-weight: bold;
}

.title {
  margin-top: 0;
  color: white;
  font-size: 50pt;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
}

input{
  width: 100%;
  margin: 0;
  padding: 0.8em;
  width: 30em;
  border-radius: 3px;
  margin: 0.8em;
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
 -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
  box-sizing: border-box;
}

input:focus{
  outline: none !important;
  border:1px solid #4CAF50;
  box-shadow: 0 0 10px
}

input[type=submit] {
    width: 20%;
    background-color: #0000ff;
    color: white;
    padding: 14px;
    border: none;
    cursor: pointer;
    font-weight: bold;

}

input[type=submit]:hover {
  background-color: #F0FFFF;
  color: black; /* Green */
}

p {
  line-height: 1;
  color: white;
}

#lab_social_icon_footer {
  padding: 10px 0;
  background-color: black;
}

#lab_social_icon_footer a {
  color: #333;
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */

  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
/*
    Multicoloured Hover Variations
*/

#lab_social_icon_footer #social-fb:hover {
  color: #3B5998;
}

#lab_social_icon_footer #social-tw:hover {
  color: #4099FF;
}

#lab_social_icon_footer #social-gp:hover {
  color: #d34836;
}

#lab_social_icon_footer #social-em:hover {
  color: #f39c12;
}
